.footer {
  padding: 40px 20px;
  background: #020617;
  color: #9ca3af;
  text-align: center;
}

.footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 6px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 10px;
}
